body {
    background-color: #252026;
}
nav {
    background-color: #252026;
    font-weight: bolder;
    text-align: right;
    padding-right: 2em;
    position: relative;
    font-size: large;
}
nav ul {
    list-style-type: none;
    margin: 0;
}
nav ul ul {
    position: absolute;
    background-color: #252026;
    padding: 0;
    text-align: left;
    display: none;
    font-size: large;
 }
 
 nav ul ul li {
    border: 1px solid #252026;
    display: block;
    width: 8em;
    padding-left: 1em;
    margin-left: 0;
 }
 
 nav li:hover ul {display: block;}
nav li { padding: 0.5em;
   display: inline-block;}
   nav a { text-decoration: underline; 
    display: block;
}
nav a:link { color: whitesmoke }
nav a:visited { color: blue }
nav a:hover {  color: red;}
main { background-color: whitesmoke;
              color: #000000;
              padding: 10px 20px;
   
   } 

p {
    color: whitesmoke;
}
h1{
    color: rebeccapurple;
    size: bold;
    text-decoration: underline;
}
#container {
display: flex;
justify-content: center;
align-items: center;
min-height: 600px;
}
#menu1{
    width: 43.33%;
    float: left;
}

#menu2{
    width: 40.33%;
    float: right;
}

#menu3{
    width: 40.33%;
    float: inline-end;
}

#menu4{
    width: 41.33%;
    float: left;
}

#menu5{
    width: 28.33%;
    float:inline-end;
}

footer {
    font-size: 60%;
    text-align: center;
    padding: 5px;
    color: whitesmoke;   
    position: absolute;
    background-color: #252026;    
    right: 0%;
    left: 0%;
    bottom: 0%;
}