body {
    background-image: url(Image/contact.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
h1 {
    text-decoration: underline;
    text-align: center;
    font-size: 50px;
    color: whitesmoke;
}
h1:hover
{
    color: red;
}
p   {
    text-align: center;
    font-size: 30px;
    color: whitesmoke;
    font-style: oblique;
}
footer {
    background-color: black;
    color: white;
    font-size: 11px;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
}