*{ box-sizing: border-box;}
body {
    background-color: #252026;
}
h1 {
    font-size: 70px;
    color: whitesmoke;
    text-align: center;
}

table {
    font-size: 30px;
}
.span {
    position: absolute;
    color: whitesmoke;
    top: 31%;
    right: 42%;
    padding: auto;   
}
label
{
    color: whitesmoke;
}

footer {
    font-size: 60%;
    text-align: center;
    padding: 5px;
    color: whitesmoke; 
    position: absolute; 
    right: 0%;
    left: 0%; 
    bottom: 0%;
}

nav {
    background-color: #252026;
    font-weight: bolder;
    text-align: right;
    padding-right: 2em;
    position: relative;
    font-size: large;
}
nav ul {
    list-style-type: none;
    margin: 0;
}
nav ul ul {
    position: absolute;
    background-color: #252026;
    padding: 0;
    text-align: left;
    display: none;
    font-size: large;
 }
 nav ul li a {
    color: whitesmoke;

 }
 header {
    /* background-image: url(Images/Logo.png); */
    background-repeat: no-repeat;
    margin-top: 0;
    padding-bottom: 1em;
    min-height: 120px;
    height: auto;
}
 nav ul ul li {
    background-color: #252026;
    display: block;
    width: 8em;
    padding-left: 1em;
    margin-left: 0;
 }
 
 nav li:hover ul {display: block;}
nav li { padding: 0.5em;
   display: inline-block;

nav a:link { color:#252026; }
nav a:visited { color: blue; }
 a:hover {  color: red;}

   }
